<% include partials/head %> 
<div class="wrapper">
    <h1><%= title %></h1>
    <div class="wrap">
        <div class="tp">
            <p class="index_main" href="">Find out your daily mobile usage</p>
        </div>
       
    </div>
</div>
