<!DOCTYPE html>
<html>
    
        <% include partials/head %>
        <div class="wrapper">
            <h1><%= title %></h1>
            <div class="wrap"></div>
            <body>
            <table class="table table-inverse">
    <thead>
      <tr>
        <th>Name</th>
        <th>Daily Usage</th>
        <th>Educational Usage</th>
        <th>Shopping Usage</th>
        <th>Searching Usage</th>
        <th>Social Usage</th>
        <th>Date Created</th>
      </tr>
    </thead>

    <tbody>
      <% for(var i=0; i < mobilelist.length; i++) { %>
     <tr>

       <td><%= mobilelist[i].name %></td>
       <td><%= mobilelist[i].daily_usage %></td>
       <td><%= mobilelist[i].educational_usage  %></td>
       <td><%= mobilelist[i].shopping_usage %></td>
       <td><%= mobilelist[i].searching_usage %></td>
       <td><%= mobilelist[i].social_usage %></td>
       <td><%= mobilelist[i].date_created %></td>

     </tr>
  <% } %>
    </tbody>

  </table>
<form action="" id="form_delete" onsubmit="return run();">
  <input type="text" id="txt">
    <input type="submit" name="delete" id="delete">
</form>

</body>
</div>
</div>
<script>
 function run(){   
    var mongo = require('./routes/mobileRounter.js')
    var dbo = mongo.db("mobileusage")
    
    var text = document.getElementById(txt)
    dbo.collection<{name: string}>("mobiles").deleteOne({name: text})
    console.log('success')
 }
</script>
</html>